// Colours
.colour-1 {
  color: $colour-1;
}

.colour-2 {
  color: $colour-2;
}

.colour-3 {
  color: $colour-3;
}

.colour-4 {
  color: $colour-4;
}

.colour-5 {
  color: $colour-5;
}

.colour-6 {
  color: $colour-6;
}

.colour-7 {
  color: $colour-7;
}

.colour-8 {
  color: $colour-8;
}

// Backgrounds
.bg-1 {
  background-color: $colour-1;
}

.bg-2 {
  background-color: $colour-2;
}

.bg-3 {
  background-color: $colour-3;
}

.bg-4 {
  background-color: $colour-4;
}

.bg-5 {
  background-color: $colour-5;
}

.bg-6 {
  background-color: $colour-6;
}

.bg-7 {
  background-color: $colour-7;
}

.bg-8 {
  background-color: $colour-8;
}