section.mantenimientos-preventivos {
	padding: 57px 0;
	.table-heading {
		@extend .colour-3;
		line-height: 38px;
		p {
			margin: 0;
			i {
				height: 38px;
				margin-right: -21px;
				margin-top: -14px;
				font-size: 65px;
			}
		}
	}
	.service-title {
		line-height: 38px;
	}
	table.table-striped {
		border: 1px solid $colour-8;
		tr {
			&.no-hover {
				td {
					&:hover {
						background-color: inherit;
					}
				}
			}
			td {
				border-right: 1px solid $colour-8;
				padding: 5px 0;
				&:hover {
					@extend .bg-1;
					a {
						i {
							@extend .colour-3;
						}
					}
				}
				&:first-child {
					&:hover {
						background-color: inherit;
					}
				}
				&:last-child {
					border-right: 0;
				}
				@include font-size(1.3);
				@extend .text-center;
				vertical-align: middle;
				a {
					width: 100%;
					height: 100%;
					@extend .colour-1;
					i {
						width: 100%;
					}
				}
			}
		}
	}
	.custom-scroll{
		height: 318px;
		overflow: auto;
		&.camiones{
			height: 464px;
		}
	}
}