<section class="carousel">
    <div class="slick-carousel" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
        <div>
            <img src="images/slide/slide.jpg">
        </div>
        <div>
            <img src="images/slide/slide.jpg">
        </div>
        <div>
            <img src="images/slide/slide.jpg">
        </div>
        <div>
            <img src="images/slide/slide.jpg">
        </div>
        <div>
            <img src="images/slide/slide.jpg">
        </div>
        <div>
            <img src="images/slide/slide.jpg">
        </div>
    </div>
</section>
