<section class="contact-form">
	<div class="container">
		<h1 class="title-1 colour-1"><b>CONTACTO</b></h1>
		<div class="row">
			<form>
				<div class="col-sm-4">
					<p class="paragraph-1">Etiam sit amet rutrum neque. Nunc hendrerit ligula ut dolor posuere, id rutrum tortor ornare. Ut suscipit diam eu aliquam auctor. Curabitur ultrices eros non metus ultrices fringilla. Vestibulum mattis velit sem.</p>
					<p class="paragraph-1">
						Teléfono: 2409 8500
						<br> Dirección: Cerro Largo 1729, Montevideo
						<br> Email: <a href="mailto:contacto@lestido.com.uy" class="colour-1">contacto@lestido.com.uy</a></p>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="nombre">Nombre</label>
						<input type="text" class="form-control" id="nombre" placeholder="Nombre">
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="telefono">Teléfono</label>
						<input type="email" class="form-control" id="telefono" placeholder="Teléfono">
					</div>
					<div class="form-group">
						<label for="Motivo">Motivo de contacto</label>
						<input type="email" class="form-control" id="Motivo" placeholder="Motivo de contacto">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="Mensaje">Mensaje</label>
						<textarea name="Mensaje" id="Mensaje" cols="30" rows="10" class="form-control"></textarea>
						<button type="submit" class="btn btn-primary pull-right"><b>ENVIAR</b></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>