<section class="contacto-info bg-4">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-4 contact-info-col">
				<div class="contact-info-img text-center" data-id="1">
					<img src="images/conthead1.png" alt="Audi Vosprung durch Technik" class="img-responsive img2">
					<div class="clearfix"></div>
					<i class="fa fa-caret-down colour-2" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-4 col-xs-4 contact-info-col">
				<div class="contact-info-img text-center" data-id="2">
					<img src="images/conthead3.png" alt="Audi Vosprung durch Technik" class="img-responsive img1">
					<div class="clearfix"></div>
					<i class="fa fa-caret-down colour-2" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-4 col-xs-4 contact-info-col">
				<div class="contact-info-img text-center" data-id="3">
					<img src="images/conthead2.png" alt="Bpñlswagem" class="img-responsive img3">
					<div class="clearfix"></div>
					<i class="fa fa-caret-down colour-2" aria-hidden="true"></i>
				</div>

			</div>
		</div>
		<div class="row">
			
			<div class="col-sm-4 contact-info-col">
				<div class="contact-info-cont" data-id="1">
					<h3 class="title-5"><b>AUDI</b></h3>
					<h5 class="title-5"><b>Ventas</b></h5>
					<p class="paragraph-1">
						Dirección: 26 de marzo esq. Dr. (World Trade Center)
						<br> Teléfono: 2623 0006
						<br> Email: <a href="mailto:info@audi.com.uy" class="colour-1">info@audi.com.uy</a>
						<br> Horario: de lunes a viernes de 10.00 a 19.00 hs.
					</p>
					<h5 class="title-5"><b>Servicio</b></h5>
					<p class="paragraph-1">Dirección: Cerro Largo 1729
						<br> Teléfono: 2400 0001
						<br> Email: <a href="mailto:topservice@audi.com.uy" class="colour-1">topservice@audi.com.uy</a>
						<br> Horario: de lunes a viernes de 8.30 a 13.15 y de 14.00 a 18.00 hs.</p>
					<h5 class="title-5"><b>Repuestos</b></h5>
					<p class="paragraph-1">
						Dirección: Cerro Largo 1729
						<br> Teléfono: 2400 0001
						<br> Email: <a href="mailto:jdalecio@audi.com.uy" class="colour-1">jdalecio@audi.com.uy</a>
						<br> Horario: de lunes a viernes de 9.00 a 13.15 y de 14.00 a 18.00 hs.
					</p>
				</div>
			</div>
			<div class="col-sm-4 contact-info-col">
				<div class="contact-info-cont" data-id="2">
					<h3 class="title-5"><b>CAMIONES</b></h3>
					<h5 class="title-5"><b>Ventas y servicio</b></h5>
					<p class="paragraph-1">
						Dirección: Veracierto 3070
						<br> Teléfono: 2507 5748
						<br> Email: <a href="mailto:serviciocamiones@lestido.com.uy" class="colour-1">serviciocamiones@lestido.com.uy</a>
						<br> Horario: de lunes a viernes de 9.00 a 13.15 y de 14.00 a 18.00 hs.
						<br> Dirección: Ruta 2 km. 300, Fray Bentos
						<br> Teléfono: 4562 9000
						<br> Email: <a href="mailto:serviciocamionesfb@lestido.com.uy" class="colour-1">serviciocamionesfb@lestido.com.uy</a>
						<br> Horario: de lunes a viernes de 9.00 a 13.15 y de 14.00 a 18.00 hs.</p>
					<h5 class="title-5"><b>Repuestos</b></h5>
					<p class="paragraph-1">
						Dirección: Veracierto 3070
						<br> Teléfono: 2507 5748
						<br> Email: <a href="mailto:repuestoscamiones@lestido.com.uy" class="colour-1">repuestoscamiones@lestido.com.uy</a>
						<br> Horario: de lunes a viernes de 9.00 a 13.15 y de 14.00 a 18.00 hs.
					</p>
				</div>				
			</div>
			<div class="col-sm-4 contact-info-col">
				<div class="contact-info-cont" data-id="3">
					<h3 class="title-5"><b>VOLKSWAGEN</b></h3>
					<h5 class="title-5"><b>Ventas</b></h5>
					<p class="paragraph-1">
						Dirección: Cerro Largo 1747
						<br> Teléfono: 2400 2131
						<br> Email: <a href="mailto:ventas0km@lestido.com.uy" class="colour-1">ventas0km@lestido.com.uy</a>
						<br> Horario: de lunes a viernes de 9.00 a 13.15 y de 14.00 a 18.00 hs.
					</p>
					<h5 class="title-5"><b>Servicio</b></h5>
					<p class="paragraph-1">Dirección: Cerro Largo 1729
						<br> Teléfono: 2408 68 04
						<br> Email: <a href="mailto:reservasvw@lestido.com.uy" class="colour-1">reservasvw@lestido.com.uy</a>
						<br> Horario: de lunes a viernes de 8.30 a 13.15 y de 14.00 a 18.00 hs.</p>
					<h5 class="title-5"><b>Repuestos</b></h5>
					<p class="paragraph-1">
						Dirección: Tristán Narvaja 1775
						<br> Teléfono: 2409 8500
						<br> Email: <a href="mailto:repuestos@lestido.com.uy" class="colour-1">repuestos@lestido.com.uy</a>
						<br> Horario: de lunes a viernes de 9.00 a 13.15 y de 14.00 a 18.00 hs.
					</p>
				</div>				
			</div>
		</div>
	</div>
</section>