<footer class="bg-6">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p><b class="title-4">Contacto</b></p>
                <table>
                    <tbody class="paragraph-4">
                        <tr>
                            <td align="center">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </td>
                            <td>
                                <p><b>Teléfono:</b></p>
                            </td>
                            <td>
                                <p class="typography-3">2409 8500</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                            <td>
                                <p class="typography-4"><b>Dirección:</b></p>
                            </td>
                            <td>
                                <p>Cerro Largo 1729, Montevideo</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </td>
                            <td>
                                <p><b>Email:</b></p>
                            </td>
                            <td>
                                <a href="mailto:contacto@lestido.com.uy">contacto@lestido.com.uy</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End col -->
            <div class="col-sm-4">
                <p><b class="title-4">¡Esperamos tu visita!</b></p>
                <table class="map">
                    <tbody>
                        <tr>
                            <td>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.3202478705184!2d-56.18242188520349!3d-34.89841198065632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f804a126cdbef%3A0xc4bb04c0faa44b2d!2sCerro+Largo+1729%2C+11200+Montevideo%2C+Uruguay!5e0!3m2!1ses-419!2sar!4v1468011961571" allowfullscreen class="footermap"></iframe>                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End col -->
            <div class="col-sm-4 hidden-xs">
                <p><b class="title-4">Redes Sociales</b></p>
                <table id="redes">
                    <tbody class="paragraph-4">
                        <tr>
                            <td>
                                <i class="fa fa-facebook" aria-hidden="true"></i> </p>
                            </td>
                            <td>
                                <p><b>Volkswagen</b></p>
                                <p>Un auto a la altura de los grandes, con rendimiento, seguridad y confort. Conocelo: <a target="_blank" href="http://www.nuevoup.uy">http://www.nuevoup.uy</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </td>
                            <td>
                                <p><b>Audi Latin America & The Caribbean</b></p>
                                <p>Animate a vivir el camino desde el interior de un #AudiA3: <a target="_blank" href="http://www.audiuruguay.uy/a3">http://www.audiuruguay.uy/a3</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </td>
                            <td>
                                <p><b>Volkswagen</b></p>
                                <p>¿Ya conocés nuestro nuevo Volkswagen Take up!? Miralo: <a target="_blank" href="http://www.nuevoup.uy">http://www.nuevoup.uy</b></a>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End col -->

        </div>
        <!-- End Row -->
    </div>
    <!--  End container -->
</footer>
