    <header>
        <div class="container">
            <div class="pull-right">
                <ul>
                    <li><a href="#">Acceso extranet</a></li>
                    <li><a href="#">Acceso clientes</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#lestido-nav-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
					<i class="fa fa-times colour-1" aria-hidden="true"></i>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="img-responsive" alt="Lestido"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="lestido-nav-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Inicio</a></li>
                    <li class="dropdown">
                        <a href="marcas.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Marcas</a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="http://www.audi.com.uy/aola/brand/es_uy.html">Audi</a></li>
                            <li><a target="_blank" href="http://www.vwcamionesybuses.com.uy/">Camiones</a></li>
                            <li><a target="_blank" href="http://www.volkswagen.com.uy/es.html">Volkswagen</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicio</a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="http://www.audi.com.uy/aola/brand/es_uy/postventa/Top_Service.html">Audi</a></li>
                            <li><a href="servicio-camiones.html">Camiones</a></li>
                            <li><a href="servicio-volkswagen.html">Volkswagen</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="seminuevos.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Semi Nuevos</a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="http://www.audicertificados.com.uy/">Audi</a></li>
                            <li><a target="_blank" href="http://www.vwseminuevos.com.uy/">Volkswagen</a></li>
                        </ul>
                    </li>
                    <li><a href="repuestos.html">Repuestos</a></li>

                </ul>
                <div class="header-mobile">
                    <ul class="list-unstyled list-inline text-center">
                        <li><a href="">Acceso extranet</a></li>
                        <li><a href="">Acceso clientes</a></li>
                        <li><a href="">contacto</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
