<section class="mantenimientos-preventivos bg-4">
	<div class="container">
		<h3 class="title-5 margin-bottom-15"><b>PLAN DE MANTENIMIENTOS PREVENTIVOS</b></h3>
		<div class="row">
			<div class="col-sm-6">
				<p class="paragraph-1">Seguir el Plan de mantenimientos preventivos es fundamental para mantener la garantía del vehículo. Preste atención a las especificaciones de su modelo que se especifican en la siguiente tabla:</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="table-heading bg-8 hidden-xs">
					<p class="text-center">Servicios(km)<i class="fa fa-caret-right colour-8 pull-right" aria-hidden="true"></i></p>
				</div>
				<form class="hidden-sm hidden-md hidden-lg">
					<div class="form-group col-xs-6">
						<label for="selectModelo" class="paragraph-1">Modelos</label>
						<select id="selectModelo" class="form-control">
							<option value="gol">Familia Gol</option>
							<option value="suran">Familia Suran</option>
							<option value="bora">Familia Bora</option>
							<option value="vento">Familia Vento</option>
							<option value="tiguan">Familia Tiguan</option>
							<option value="amaroknafta">Amarok Nafta</option>
							<option value="amarokdiesel">Amarok Diesel</option>
						</select>
					</div>
					<div class="form-group col-xs-6">
						<label for="selectServicios" class="paragraph-1">Servicios (km)</label>
						<select id="selectServicios" class="form-control">
							<option value="5k">2.000 km - 5.000 km</option>
							<option value="15k">15.000 km</option>
							<option value="20k">20.000 km</option>
							<option value="25k">25.000 km</option>
							<option value="35k">35.000 km</option>
							<option value="45k">45.000 km</option>
							<option value="50k">50.000 km</option>
							<option value="55k">55.000 km</option>
							<option value="65k">65.000 km</option>
							<option value="75k">75.000 km</option>
							<option value="80k">80.000 km</option>
						</select>
					</div>
				</form>
				<table class="table table-striped hidden-xs">
					<tbody>
						<tr class="no-hover">
							<td>Modelos</td>
							<td>Anual</td>
							<td>15.000</td>
							<td>20.000</td>
							<td>25.000</td>
							<td>35.000</td>
							<td>45.000</td>
							<td>50.000</td>
							<td>55.000</td>
							<td>65.000</td>
							<td>75.000</td>
							<td>80.000</td>
						</tr>
						<tr>
							<td>8.120 -8.150
								<br>9.150</td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
						</tr>
						<tr>
							<td>9.150
								<br> E Worker</br>
							</td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
						</tr>
						<tr>
							<td>15.180
								<br>Worker</td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
						</tr>
						<tr>
							<td>17.220 -23.220
								<br>24.220 Worker</td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
						</tr>
						<tr>
							<td>17.310- 23.310
								<br>24.310 Worker</td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
						</tr>
						<tr>
							<td>18.310 Worker</td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>

						</tr>
						<tr>
							<td>17.250 E- 24.250
								<br>E Worker Carter
								<br>Chico</td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
						</tr>
						<tr>
							<td>17.250 E- 24.250
								<br>E Worker Carter
								<br>Grande</td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
						</tr>
						<tr>
							<td>19.320- 25.320
								<br>Constellation
							</td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							<td><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
						</tr>
					</tbody>
				</table>
				<p class="paragraph-1 hidden-xs">
					Por otros modelos, consultar con el equipo de Servicio.
					<br>Nota: Familia Gol: Gol HB, Gol Sedan, Saveiro. Familia Suran: Suran, Suran Cross, Fox, Crossfox. Las unidades de las familias Bora, Vento y Amarok diesel deben realizar mantenimiento siempre cada 7.500 km. Las unidades pertenecientes a las demás familias de modelos, realizan mantenimiento cada 15.000 kms o 1 año (lo que ocurra primero)
				</p>
				<div class="clearfix"></div>
			</div>
			<div class="col-sm-6">
				<h3 class="title-5 service-title"><b>9.150 E Worker / 30.000km</b></h3>
				<div class="custom-scroll camiones margin-bottom-25">
					<ul class="paragraph-1">
						<li>Control de componentes eléctricos e interruptores(luces, conmutadores, etc.)</li>
						<li>Controlar estado de filtro de polvo y polen(caso necesario sustituir)</li>
						<li>Sustituir filtro de aire</li>
						<li>Controlar estado de bujías</li>
						<li>Estado de correa de accesorios</li>
						<li>Controlar funcionamiento y estado de escobillas limpiaparabrisas y limpialuneta</li>
						<li>Completar nivel de liquido lavaparabrisas, controlar eyectores de agua(Ángulo y presión)</li>
						<li>Controlar líquido antifrecer(estado y nivel)</li>
						<li>Control de liquido de frenos</li>
						<li>Servicios de autodiagnóstico (VAS)</li>
						<li>Limpieza y mantenimientos de frenos delanteros y traseros, (en caso necesario sustituir)</li>
						<li>Sustituir aceite de motor</li>
						<li>Sustituir filtro de aceite</li>
						<li>Sustituir filtro de combustible</li>
						<li>Limpieza de inyectores (Dialisis)</li>
						<li>Controlar estado de tren delantero (punteros, rotulas, bujes etc..)</li>
						<li>Controlar nivel de lubricante caja de cambios.</li>
						<li>Control de fugas (escape, fluidos etc.)</li>
						<li>Rotación y balanceo</li>
						<li>Control de alineación.</li>
					</ul>
				</div>
				<p class="paragraph-1 hidden-sm hidden-md hidden-lg footPcontact">
					Por otros modelos, consultar con el equipo de Servicio.
					<br>Nota: Familia Gol: Gol HB, Gol Sedan, Saveiro. Familia Suran: Suran, Suran Cross, Fox, Crossfox. Las unidades de las familias Bora, Vento y Amarok diesel deben realizar mantenimiento siempre cada 7.500 km. Las unidades pertenecientes a las demás familias de modelos, realizan mantenimiento cada 15.000 kms o 1 año (lo que ocurra primero)
				</p>
			</div>
		</div>
	</div>
</section>