<section class="newscarousel">
    <div class="container">
        <div class="newscarouseltitle">
            <h3 class="title-2 margin-bottom-15"><b>NOTICIAS</b></i>
</h3>
            <p class="paragraph-1 margin-bottom-10 hidden-xs">Buscá entre las noticias más recientes de nuestra empresa.</p>
        </div>
        <div class="slick-carousel">
            <div>
                <a href="javascript:;" class="news-container">
                    <div class="news-img">
                        <div class="hover-state">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <img class="margin-bottom-10 img-responsive hidden-xs" src="images/news/newsphoto1.jpg">
                    </div>
                    <div class="news-desc">
                        <p class="paragraph-1 margin-bottom-10"><i class="fa fa-plus pull-right hidden-sm hidden-md hidden-lg" aria-hidden="true"></i>Audi Zetrum<br> Montevideo</p>
                    </div>

                </a>
            </div>
            <div>
                <a href="javascript:;" class="news-container">
                    <div class="news-img">
                        <div class="hover-state">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <img class="margin-bottom-10 img-responsive hidden-xs" src="images/news/newsphoto2.jpg">
                    </div>
                    <div class="news-desc">
                        <p class="paragraph-1 margin-bottom-10"><i class="fa fa-plus pull-right hidden-sm hidden-md hidden-lg" aria-hidden="true"></i>Lanzamiento del camión Volkswagen 24-280 con motor MAN</p>
                    </div>

                </a>
            </div>
            <div>
                <a href="javascript:;"class="news-container">
                    <div class="news-img">
                        <div class="hover-state">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <img class="margin-bottom-10 img-responsive hidden-xs" src="images/news/newsphoto3.jpg">
                    </div>
                    <div class="news-desc">
                        <p class="paragraph-1 margin-bottom-10"><i class="fa fa-plus pull-right hidden-sm hidden-md hidden-lg" aria-hidden="true"></i>Salen Camiones</p>
                    </div>

                </a>
            </div>
            <div>
                <a href="javascript:;" class="news-container">
                    <div class="news-img">
                        <div class="hover-state">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <img class="margin-bottom-10 img-responsive hidden-xs" src="images/news/newsphoto4.jpg">
                    </div>
                    <div class="news-desc">
                        <p class="paragraph-1 margin-bottom-10"><i class="fa fa-plus pull-right hidden-sm hidden-md hidden-lg" aria-hidden="true"></i>Apoyando el futuro</p>
                    </div>

                </a>
            </div>
            <div>
                <a href="javascript:;" class="news-container">
                    <div class="news-img">
                        <div class="hover-state">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <img class="margin-bottom-10 img-responsive hidden-xs" src="images/news/newsphoto5.jpg">
                    </div>
                    <div class="news-desc">
                        <p class="paragraph-1 margin-bottom-10"><i class="fa fa-plus pull-right hidden-sm hidden-md hidden-lg" aria-hidden="true"></i>Volkswagen en el Campeonato Mundial de Rally</p>
                    </div>

                </a>
            </div>
            <div>
                <a href="javascript:;" class="news-container">
                    <div class="news-img">
                        <div class="hover-state">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <img class="margin-bottom-10 img-responsive hidden-xs" src="images/news/newsphoto4.jpg">
                    </div>
                    <div class="news-desc">
                        <p class="paragraph-1 margin-bottom-10"><i class="fa fa-plus pull-right hidden-sm hidden-md hidden-lg" aria-hidden="true"></i>Audi Zetrum<br> Montevideo</p>
                    </div>

                </a>
            </div>
            <div>
                <a href="javascript:;" class="news-container">
                    <div class="news-img">
                        <div class="hover-state">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <img class="margin-bottom-10 img-responsive hidden-xs" src="images/news/newsphoto3.jpg">
                    </div>
                    <div class="news-desc">
                        <p class="paragraph-1 margin-bottom-10"><i class="fa fa-plus pull-right hidden-sm hidden-md hidden-lg" aria-hidden="true"></i>Audi Zetrum<br> Montevideo</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>