<section class="repuestos-cont">
	<div class="container">
		<h1 class="title-1 colour-1"><b>REPUESTOS</b></h1>
		<div class="row">
			<div class="col-sm-6">
				<p class="paragraph-1">
					Todos los Repuestos y Accesorios Originales que necesite, los podrá encontrar en Julio César Lestido S.A. Contamos con el mayor stock de repuestos originales, con más de 20.000 piezas.
					<br> Ya sea que usted es un cliente, un taller de Montevideo o Interior, Distribuidor o Agente, nuestro equipo de Ventas lo está esperando para atenderlo. Contamos con distribución propia en Montevideo y envíos a todo el país en plazo menor a 24 horas.
					<br>
				</p>
				<b class="paragraph-1">Audi</b>
				<p class="paragraph-1">
					<br> Dirección: Cerro Largo 1729
					<br> Teléfono: 2400 0001
					<br> Email: <a href="mailto:jdalecio@audi.com.uy" class="colour1">jdalecio@audi.com.uy</a>
					<br> Horario: de lunes a viernes de 9.00 a 13.15 y de 14.00 a 18.00 hs.</p>
				<b class="paragraph-1">Camiones</b>
				<p class="paragraph-1">
					<br> Dirección: Veracierto 3070
					<br> Teléfono: 2507 5748
					<br> Email: <a href="mailto:repuestoscamiones@lestido.com.uy" class="colour-1">repuestoscamiones@lestido.com.uy</a>
					<br> Horario: de lunes a viernes de 9.00 a 13.15 y de 14.00 a 18.00 hs.
				</p>
				<b class="paragraph-1">Volkswagen</b>
				<p class="paragraph-1">
					<br> Dirección: Tristán Narvaja 1775
					<br> Teléfono: 2409 8500
					<br> Email: <a href="mailto:repuestos@lestido.com.uy" class="colour1">repuestos@lestido.com.uy</a>
					<br> Horario: de lunes a viernes de 9.00 a 13.15 y de 14.00 a 18.00 hs.
				</p>
			</div>
			<div class="col-sm-6">
				<img src="images/repuestos.jpg" alt="" class="img-responsive">
			</div>
		</div>
	</div>
</section>