<section class="servicios-title">
	<div class="container">
		<h1 class="title-1"><b>SERVICIO /</b><b class="colour-1">VOLKSWAGEN</b></h1>
		<div class="col-sm-6">
			<h3 class="title-5"><b>Nuestro Servicio le ofrece:</b></h3>
			<ul class="paragraph-1">
				<li>Servicios de mantenimiento preventivo</li>
				<li>Alineación, rotación y balanceo</li>
				<li>Reparaciones de mecánica en general</li>
				<li>Trabajos de carrocería en general</li>
				<li>Reparaciones de chapa y pintura</li>
				<li>Diagnóstico y reparación de aire acondicionado</li>
				<li>Recepción Activa</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<h3 class="title-5"><b>Servicios Express</b></h3>
			<ul class="paragraph-1">
				<li>Control y regulación de luces</li>
				<li>Reemplazo de lámparas</li>
				<li>Control de niveles y en caso de necesario reposición</li>
				<li>Control de estado y presión de neumáticos</li>
				<li>Control de estado de batería, en caso necesario su reemplazo</li>
				<li>Ajuste y lubcricación de cerraduras y alza cristales</li>
				<li>Programación de llaves y/o emisores</li>
				<li>Revisión y corrección de eyectores de limpiaparabrisas y lunetas</li>
				<li>Colocación de pequeños accesorios</li>
				<li>Control y regulación de escobillas, en caso necesario su reemplazo</li>
				<li>Carga de gas y/o vacio para diagnóstico con fluor de las sistemas de aire acondicionado</li>
				<li>Control de Zonas bajas por golpes y/o ruidos</li>
			</ul>
		</div>
	</div>
</section>