<section id="websites">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-6 websites-col"> 
               <a href="#">
                <img src="images/linkphoto1.jpg" alt="" class="img-responsive margin-bottom-30">
                <h3 class="title-2 margin-bottom-15"><b>Audi Certificados</b></h3>
                <p class="paragraph-1 margin-bottom-10 hidden-xs">Descubra ofertas exclusivas de Audi Usados Certificados con financiación en 36 cuotas y todo el respaldo de Julio César Lestido S.A.</p>
                <a href="#" class="paragraph-3 hidden-xs"><b>Ir al Sitio</b></a>
               </a>
            </div>
            <div class="col-sm-3 col-xs-6 websites-col">
               <a href="#">
					<img src="images/linkphoto2.jpg" alt="" class="img-responsive margin-bottom-30">
					<h3 class="title-2 margin-bottom-15"><b>Volkswagen Seminuevos</b></h3>
					<p class="paragraph-1 margin-bottom-10 hidden-xs">Minimice los riesgos y obtenga la máxima calidad y transparencia en la compra de su próximo automóvil.</p>
					<a href="#" class="paragraph-3 hidden-xs"><b>Ir al Sitio</b></a>
               </a>
            </div>
            <div class="col-sm-3 col-xs-6 websites-col">
				<a href="#">
					<img src="images/linkphoto3.jpg" alt="" class="img-responsive margin-bottom-30">
					<h3 class="title-2 margin-bottom-15"><b>Conozca aquí el proceso de Servicio</b></h3>
					<a href="#" class="paragraph-3 hidden-xs"><b>más información</b></a>
				</a>
            </div>
            <div class="col-sm-3 col-xs-6 websites-col">
				<a href="#">
                <img src="images/linkphoto4.jpg" alt="" class="img-responsive margin-bottom-30">
                <h3 class="title-2 margin-bottom-15"><b>Consulte su e-ticket</b></h3>
                <a href="#" class="paragraph-3 hidden-xs"><b>Consultar</b></a>					
				</a>
            </div>
        </div>
    </div>
</section>
