<section id="welcome" class="bg-4">
   <div class="container">
        <div class="welcome-title">
            <h1 class="title-1"><b>BIENVENIDOS<br> A NUESTRA NUEVA WEB</b></h1>
            <p class="paragraph-1">Le damos la bienvenida al sitio oficial de Julio César Lestido S.A., representante exclusivo de Audi, MAN 
y Volkswagen en Uruguay.</p>
        </div>
        <table>
            <tbody>
                <tr>
                    <td><img src="images/conthead1.png" alt="Audi - Vorsprung durch Technkiik" class="img-responsive"></td>
                    <td><img src="images/conthead2.png" alt="Volkswagen" class="img-responsive"></td>
                    <td><img src="images/conthead3.png" alt="Camion - Buses" class="img-responsive"></td>
                </tr>
            </tbody>
        </table>
   </div>
</section>